node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
env
.venv
.git
.gitignore
*.md
.vscode
.idea
*.log
.DS_Store
backend/storage/*
!backend/storage/.gitkeep
backend/colorizer.db
ml/models/*
!ml/models/.gitkeep
deoldify_repo/
*.pth
dist
build

